button {
  background-color: var(--color-primary);
  color: var(--color-light);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 1em;
  cursor: pointer;
  margin: 16px 0;
}

button:active {
  background-color: var(--color-primary-shade);
}

button.light {
  background-color: var(--color-light);
  border-color: transparent;
}

button.secondary {
  background-color: var(--color-light);
  border: 1px solid var(--color-medium);
  color: var(--color-dark);
}
