.loader-wrapper {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -25px;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  border-top-color: var(--color-light);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
