.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(18, 43, 71, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  position: relative;
  max-width: 300px;
  background-color: var(--color-light);
  border-radius: 4px;
  padding: 0 16px;
}

.modal-header,
.modal-footer {
  padding: 16px 64px 16px 0;
  border-bottom: 1px solid var(--color-medium);
}

.modal-header h2 {
  margin: 0;
}

.modal-header button {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 3;
  margin: 0;
}

.modal-footer {
  border-top: 1px solid var(--color-medium);
  border-bottom: none;
}

.modal-footer button:nth-child(2) {
  margin-left: 16px;
}
