table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

thead,
tbody,
tr {
  display: contents;
}

th {
  text-align: left;
  border-bottom: 1px solid var(--color-medium);
}

th,
td {
  padding: 16px;
}

td {
  text-align: left;
}

tr:nth-child(even) td {
  background: var(--color-light-shade);
}
