:root {
  --color-primary: #3880ff;
  --color-primary-shade: #3171e0;
  --color-secondary: #0cd1e8;
  --color-success: #10dc60;
  --color-warning: #ffce00;
  --color-danger: #f04141;
  --color-dark: #222428;
  --color-medium: #989aa2;
  --color-light: #f4f5f8;
  --color-light-shade: #f8f6ff;
}
